body,
html,
.body {
	background: #fff !important;
	font-weight: $global-font-weight;
	max-width: $global-width;
	min-width: 400px;
	margin: 0 auto;
}
hr {
	border-color: $light-gray;
	opacity: .35;
}


.order {}
.logo {
	text-align: center;
	margin-bottom: 5px;
	img	{
		display: inline-block;
		width: auto;
		height: auto;
		max-width: 80%;
	}

}

.order_num {
	font-size: 12px;
	span {
		font-size: 18px;
		color: $alert-color;
		font-weight: 400;
	}
}
.order_date {
	font-size: 12px;
	span {
		font-size: 18px;
	}
}

.order_title {
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
// .product-table
.product-table {
	text-align: center;
	font-size: 18px;
	th {
		text-transform: uppercase;
		color: $medium-gray;
		text-align: center;
		padding: 10px 2px;
		font-size: 18px;
		min-width: 100px;
		vertical-align: middle;
	}
	td {
		padding: 20px 2px;
		text-align: center;
		vertical-align: middle;
		color: #000;
		line-height: 1.5;
		font-size: 18px;

		> img {
			display: inline-block;
			width: auto;
			max-width: 100%;
			height: auto;
		}

	}
	th,
	td {
		&.text-left {
			text-align: left;
		}
	}

}
.product-table_head {
	border-bottom: 1px solid $light-gray;
}
.product-table_id {
	color: $medium-gray;
	font-size: 16px;
}
//.product-table end


// total
.total {
	table-layout: fixed;
	td {
		padding: 12px 5px;
		text-align: right;
		vertical-align: bottom;
		color: #000;
		line-height: 1.5;
		font-size: 18px;
		&:nth-child(2n-1) {
			text-transform: uppercase;
		}
		&:nth-child(2n) {
			width: 90px;
			color: $primary-color;
			text-align: left;
			> span {
				color: #949494;
			}
			> span.total_big {
				font-size: 120%;
				color: $primary-color;
			}
		}
	}
}

// total end

th.order_info {
	border: none;
	padding: 0;
}

// info
.info {
	color: #000;
	a {
		text-decoration: none;
		color: $medium-gray;
		cursor: default;
	}
	td {
		padding: 5px 0;
		vertical-align: top;
		color: #000;
		line-height: 1.5;
		font-size: 14px;
		&:nth-child(2n-1) {
			width: 30%;
			text-transform: uppercase;
		}
		&:nth-child(2n) {
			width: 70%;
			color: $medium-gray;
		}
		img {
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
		}
	}
}
// info end

// contact
.contact {
	td {
		padding: 5px 0;
		vertical-align: top;
		color: $medium-gray;
		line-height: 1.5;
		font-size: 16px;
		a {
			text-decoration: none;
			color: $medium-gray;
			cursor: pointer;
		}
		&:nth-child(2n-1) {
			width: 25px;
			text-transform: uppercase;
		}
		&:nth-child(2n) {
			padding-left: 10px;

		}
		img {
			display: block;
			width: auto;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
}
// contact end

// footer
.footer {
	background-color: $very-dark-gray;
	p {
		padding: 10px 15px;
		display: block;
		vertical-align: middle;
		color: $white;
		font-size: 14px;
		margin: 0 auto !important;
	}
	a {
		text-decoration: none;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
	}
	.footer_inner {
		padding: 0 !important;
		vertical-align: middle;
	}
}

// footer end
