<container class="order">

  <spacer size="16"></spacer>

  <row>
    <columns>
      <h1 class="logo"><a href="#0"><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/logo.png" alt="Tesoro jewelry"></a></h1>
      <p class="order_num">Номeр вашего заказа: <span>58695</span></p>
      <p class="order_date">форма заказа от <span>23.12.2016 00:37</span></p>

      <spacer size="16"></spacer>

      <table class="product-table">
        <tr class="product-table_head">
          <th></th>
          <th class="text-left">Товар</th>
          <th>Кол-во</th>
          <th>Цена</th>
          <th>Цена со скидкой</th>
        </tr>
        <tr>
          <td><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/product-1.jpg" alt="Золотое кольцо
            с фианитом, Артикул: 1484156"></td>
          <td class="text-left">ЗОЛОТОЕ КОЛЬЦО
            С ФИАНИТОМ <br>
            <span class="product-table_id">Артикул: 1484156</span>
          </td>
          <td>5</td>
          <td>1500грн</td>
          <td>1200грн</td>
        </tr>
        <tr>
          <td><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/product-1.jpg" alt="Золотое кольцо
            с фианитом, Артикул: 1484156"></td>
          <td class="text-left">ЗОЛОТОЕ КОЛЬЦО
            С ФИАНИТОМ <br>
            <span>Артикул: 1484156</span>
          </td>
          <td>5</td>
          <td>1500грн</td>
          <td>1200грн</td>
        </tr>
        <tr>
          <td><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/product-1.jpg" alt="Золотое кольцо
            с фианитом, Артикул: 1484156"></td>
          <td class="text-left">ЗОЛОТОЕ КОЛЬЦО
            С ФИАНИТОМ <br>
            <span><small>Артикул:</small> 1484156</span>
          </td>
          <td>5</td>
          <td>1500грн</td>
          <td>1200грн</td>
        </tr>
      </table>

      <spacer size="10"></spacer>
      <hr/>
      <spacer size="10"></spacer>
      <table class="total">
        <tr>
          <td>Предварительная стоимость:</td>
          <td>5892 грн</td>
        </tr>
        <tr>
          <td>Скидка:</td>
          <td><span>-350 грн</span></td>
        </tr>
        <tr>
          <td>Стоимость доставки:</td>
          <td>5942 грн</td>
        </tr>
        <tr>
          <td>Итого:</td>
          <td><span class="total_big">5942 грн</span></td>
        </tr>
      </table>
    </columns>
  </row>

  <spacer size="20"></spacer>

  <row>
    <columns large="8">
      <h6 class="order_title">ВАША КОНТАКТНАЯ ИНФОРМАЦИЯ</h6>
      <table class="info">
        <tr>
          <td>Ваше Фио:</td>
          <td>Иванова Анастасия</td>
        </tr>
        <tr>
          <td>Ваш email:</td>
          <td><a href="#0">anastasia@rambler.ru</a></td>
        </tr>
        <tr>
          <td>Ваш телефон:</td>
          <td><a href="#0">068 698 98 54</a></td>
        </tr>
        <tr>
          <td>Тип доставки:</td>
          <td>Доставка Новой Почтой <img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/new-post.png" alt="Новая Почта"></td>
        </tr>
        <tr>
          <td>Форма оплаты:</td>
          <td>Оплата наложеным платежом <img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/privat.png" alt="Приват 24"></td>
        </tr>
        <tr>
          <td>Адрес доставки:</td>
          <td>Украина, г. Киев, отделение новой почты номер 25 по адресу Семинарская 1 </td>
        </tr>
        <tr>
          <td>Комментарий к заказу:</td>
          <td>Товар хотелось бы получить в понедельник после двух часов дня.</td>
        </tr>
        <tr>
          <td>Статус заказа:</td>
          <td>Оплачен</td>
        </tr>
      </table>
    </columns>
    <columns large="4">
      <h6 class="order_title">ДЛЯ ОБРАТНОЙ СВЯЗИ</h6>
      <table class="contact">
        <tr>
          <td><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/contact-phone.png" alt=""></td>
          <td><a href="tel:+380633008899">+38 (063) 300-88-99</a>
            <small>Лайф</small></td>
        </tr>
        <tr>
          <td><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/contact-phone.png" alt=""></td>
          <td><a href="tel:+380633008899">+38 (063) 300-88-99</a>
            <small>Киевстар</small></td>
        </tr>
        <tr>
          <td><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/contact-mail.png" alt=""></td>
          <td><a href="mailto:tesoro.jew@gmail.com">tesoro.jew@gmail.com</a></td>
        </tr>
        <tr>
          <td><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/contact-map.png" alt=""></td>
          <td>Одесса, Семафорный переулок 4,
            ТРЦ Среднефонтанский, 2-й этаж,</td>
        </tr>
      </table>
    </columns>
  </row>

  <spacer size="40"></spacer>

  <row class="footer collapse">
    <columns class="footer_inner">
      <p class="text-right">Мы в соцсетях:
        <a href="#0"><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/vk.png" alt="vk"></a>
        <a href="#0"><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/inst.png" alt="instagram"></a>
        <a href="#0"><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/fb.png" alt="facebook"></a>
        <a href="#0"><img src="http://pix-team.com/emails_photo/tesoro/2017_01_16/assets/img/tw.png" alt="twitter"></a>
      </p>
    </columns>
  </row>
</container>
